.header {
    padding-bottom: 10px;
    padding-top: 10px;
}

.header-logo {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.header-contacts {
    font-size: 24px;
    line-height: 40px;
    text-align: right;
    &__item {
        display: block;
    }
}