extends ./layout/landing.jade

block title
    title= PAGE.title

block section-1
    div.landing-intro
        h3.landing-intro__brand  Проектно-монтажная компания &laquo;Стандарт Климат&raquo;
        h1.landing-intro__title Проектирование и монтаж
        p.lead
            | Мы занимаемся проектно-монтажными работами с 2008 года,
            br
            | на нашем счету уже более 1000 выполненных проектов.
        div.landing-intro__buttons
            a.btn.btn-lg.btn-success(href="#contactus") Напишите нам
            | &nbsp;
            a.btn.btn-lg.btn-default(href="#") Услуги

block section-2
    div.landing-block
        h2.landing-block__title Наши услуги
        p.lead.landing-block__text Мы предоставляем полный спектр услуг по проектировани и монтажу отопления, вентиляции, кондиционирования, водоснабжения и канализаций.
        div.row
            .col-md-4
                div.thumbnail
                    a.image-preview(href="#")
                        img(src="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/8bb/8bbe66ad56adb93bc17f1694daf0fbff.jpg")
                    div.caption
                        h3.text-center Отопление
                        p.text-center
                            a.btn.btn-primary Подробнее
            .col-md-4
                div.thumbnail
                    a.image-preview(href="#")
                        img(src="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/8bb/8bbe66ad56adb93bc17f1694daf0fbff.jpg")
                    div.caption
                        h3.text-center Вентиляция
                        p.text-center
                            a.btn.btn-primary Подробнее
            .col-md-4
                div.thumbnail
                    a.image-preview(href="#")
                        img(src="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/8bb/8bbe66ad56adb93bc17f1694daf0fbff.jpg")
                    div.caption
                        h3.text-center Кондиционирование
                        p.text-center
                            a.btn.btn-primary Подробнее
        p.text-center
            a.btn.btn-success.btn-lg(href="#") Просмотреть все услуги

block section-3
    div.row.text-center(style="line-height: 120px; padding: 50px 0;")
        div.col-md-3
            img(src="img/il_patio_planeta_sushi.png" width="250")
        div.col-md-3
            img(src="img/chaihona-no-1.png" width="250")
        div.col-md-3
            img(src="img/kfc.png" width="250")
        div.col-md-3
            img(src="img/pizza-hut.png" width="250")

block section-4
    div.landing-block
        h2.landing-block__title Выполненные проекты
        p.lead.landing-block__text
            | С 2008 года компания &laquo;Стандарт Климат&raquo; выполнила более 1000 проектов,
            br
            | вот лишь некоторые из них:
        div.row
            .col-md-4
                div.thumbnail
                    a.image-preview(href="#")
                        img(src="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/8bb/8bbe66ad56adb93bc17f1694daf0fbff.jpg")
                    div.caption
                        h3.text-center КП "Алешкино-2"
                        ul
                            li Площадь помещения: 158 м2
                            li Проектирование отопления
                            li Проектирование теплого пола
                            li Проектирование водоснабжения и канализации
                            li Проектирование котельной
                            li Монтаж радиаторного отопления
                            li Монтаж теплого пола
                            li Монтаж водоснабжения и канализации
                            li Монтаж котельной
                        p.text-center
                            a.btn.btn-primary Подробнее
            .col-md-4
                div.thumbnail
                    a.image-preview(href="#")
                        img(src="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/8bb/8bbe66ad56adb93bc17f1694daf0fbff.jpg")
                    div.caption
                        h3.text-center КП "Алешкино-2"
                        ul
                            li Площадь помещения: 158 м2
                            li Проектирование отопления
                            li Проектирование теплого пола
                            li Проектирование водоснабжения и канализации
                            li Проектирование котельной
                            li Монтаж радиаторного отопления
                            li Монтаж теплого пола
                            li Монтаж водоснабжения и канализации
                            li Монтаж котельной
                        p.text-center
                            a.btn.btn-primary Подробнее
            .col-md-4
                div.thumbnail
                    a.image-preview(href="#")
                        img(src="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/8bb/8bbe66ad56adb93bc17f1694daf0fbff.jpg")
                    div.caption
                        h3.text-center КП "Алешкино-2"
                        ul
                            li Площадь помещения: 158 м2
                            li Проектирование отопления
                            li Проектирование теплого пола
                            li Проектирование водоснабжения и канализации
                            li Проектирование котельной
                            li Монтаж радиаторного отопления
                            li Монтаж теплого пола
                            li Монтаж водоснабжения и канализации
                            li Монтаж котельной
                        p.text-center
                            a.btn.btn-primary Подробнее

block section-5
    div.landing-block
        h2.landing-block__title Преимущества
        p.lead.landing-block__text
        div.row.text-center
            .col-md-4
                i.fa.fa-user(style="font-size: 100px;")
                h3 Личный мастер 24/7
                p Каждый клиент получает личного мастера, который доступен вам круглые сутки в течение проектирования и реализации проекта. Вы можете задать ему любой вопрос по поводу проектирования, проведения ремонтных работ, стоимости оборудования или монтажа.
            .col-md-4
                i.fa.fa-info-circle(style="font-size: 100px;")
                h3 Бесплатная консультация
                p Вам удобно с нами работать: 1 звонок и 1 бесплатная консультация в подарок. Наши специалисты делают все возможное, чтобы работать с нами было удобно. Именно по этой причине в нашей компании существует четко отлаженная система работы.
            .col-md-4
                i.fa.fa-tag(style="font-size: 100px;")
                h3 Экономия до 40%
                p Наши инженеры знают способы снизить ваши затраты не потеряв в качестве. Достигается это за счет налаженных связей с поставщиками и оптимизации производственных затрат. Но мы гарантируем, что с нашими специалистами Вы получаете экономию на 40% или даже больше.

block section-6
    div.landing-block
        h2.landing-block__title Сертификаты
        p.lead.landing-block__text Компания «Стандарт Климат» подтвердила качество работ не только выполненными проектами, но и наличием официальных документов. Это позволяет нам оказывать профессиональные услуги как частным лицам, так и коммерческим предприятиям, гарантируя при этом максимальный срок службы оборудования и техники.
        div.jcarousel
            span.jcarousel__nav.m-prev
                i.fa.fa-angle-left
            span.jcarousel__nav.m-next
                i.fa.fa-angle-right
            div.jcarousel__wrap
                ul.jcarousel__list
                    li.jcarousel__item
                        a.image-preview(href="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/c46/c46528a4cf768c8250043aeb84af1a6f.jpg")
                            img(src="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/c46/c46528a4cf768c8250043aeb84af1a6f.jpg")
                    li.jcarousel__item
                        a.image-preview(href="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/c46/c46528a4cf768c8250043aeb84af1a6f.jpg")
                            img(src="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/c46/c46528a4cf768c8250043aeb84af1a6f.jpg")
                    li.jcarousel__item
                        a.image-preview(href="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/c46/c46528a4cf768c8250043aeb84af1a6f.jpg")
                            img(src="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/c46/c46528a4cf768c8250043aeb84af1a6f.jpg")
                    li.jcarousel__item
                        a.image-preview(href="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/c46/c46528a4cf768c8250043aeb84af1a6f.jpg")
                            img(src="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/c46/c46528a4cf768c8250043aeb84af1a6f.jpg")
                    li.jcarousel__item
                        a.image-preview(href="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/c46/c46528a4cf768c8250043aeb84af1a6f.jpg")
                            img(src="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/c46/c46528a4cf768c8250043aeb84af1a6f.jpg")
                    li.jcarousel__item
                        a.image-preview(href="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/c46/c46528a4cf768c8250043aeb84af1a6f.jpg")
                            img(src="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/c46/c46528a4cf768c8250043aeb84af1a6f.jpg")
                    li.jcarousel__item
                        a.image-preview(href="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/c46/c46528a4cf768c8250043aeb84af1a6f.jpg")
                            img(src="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/c46/c46528a4cf768c8250043aeb84af1a6f.jpg")
                    li.jcarousel__item
                        a.image-preview(href="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/c46/c46528a4cf768c8250043aeb84af1a6f.jpg")
                            img(src="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/c46/c46528a4cf768c8250043aeb84af1a6f.jpg")
                    li.jcarousel__item
                        a.image-preview(href="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/c46/c46528a4cf768c8250043aeb84af1a6f.jpg")
                            img(src="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/c46/c46528a4cf768c8250043aeb84af1a6f.jpg")
                    li.jcarousel__item
                        a.image-preview(href="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/c46/c46528a4cf768c8250043aeb84af1a6f.jpg")
                            img(src="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/c46/c46528a4cf768c8250043aeb84af1a6f.jpg")
                    li.jcarousel__item
                        a.image-preview(href="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/c46/c46528a4cf768c8250043aeb84af1a6f.jpg")
                            img(src="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/c46/c46528a4cf768c8250043aeb84af1a6f.jpg")
                    li.jcarousel__item
                        a.image-preview(href="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/c46/c46528a4cf768c8250043aeb84af1a6f.jpg")
                            img(src="http://st-ovk.ru.opt-images.1c-bitrix-cdn.ru/upload/iblock/c46/c46528a4cf768c8250043aeb84af1a6f.jpg")

block section-7
    div.landing-block
        h2.landing-block__title Наши партнёры
        p.lead.landing-block__text За время работы мы успели познакомиться и поработать с продукцией многих отечественных и зарубежных компаний, среди которых системы вентиляции от завода Ятоган, отопительный и нагревательный котлы от красноярского завода ZOTA.
        div.row.landing-partners
            div.col-md-3
                a.landing-partners__link(href="#d8" target="_blank" style="background-image: url(img/d8.jpg)")
                    span Гидрофильтры D8
            div.col-md-3
                a.landing-partners__link(href="#d8" target="_blank" style="background-image: url(img/mitsubishi_electric.jpg)")
                    span Кондиционеры Mitsubishi Electric
            div.col-md-3
                a.landing-partners__link(href="#d8" target="_blank" style="background-image: url(img/buderus.jpg)")
                    span Buderus
            div.col-md-3
                a.landing-partners__link(href="#d8" target="_blank" style="background-image: url(img/reflex.jpg)")
                    span Reflex
            div.col-md-3
                a.landing-partners__link(href="#d8" target="_blank" style="background-image: url(img/reflex.jpg)")
                    span Reflex
            div.col-md-3
                a.landing-partners__link(href="#d8" target="_blank" style="background-image: url(img/d8.jpg)")
                    span Гидрофильтры D8
            div.col-md-3
                a.landing-partners__link(href="#d8" target="_blank" style="background-image: url(img/mitsubishi_electric.jpg)")
                    span Кондиционеры Mitsubishi Electric
            div.col-md-3
                a.landing-partners__link(href="#d8" target="_blank" style="background-image: url(img/buderus.jpg)")
                    span Buderus
            div.col-md-3
                a.landing-partners__link(href="#d8" target="_blank" style="background-image: url(img/buderus.jpg)")
                    span Buderus
            div.col-md-3
                a.landing-partners__link(href="#d8" target="_blank" style="background-image: url(img/reflex.jpg)")
                    span Reflex
            div.col-md-3
                a.landing-partners__link(href="#d8" target="_blank" style="background-image: url(img/d8.jpg)")
                    span Гидрофильтры D8
            div.col-md-3
                a.landing-partners__link(href="#d8" target="_blank" style="background-image: url(img/mitsubishi_electric.jpg)")
                    span Кондиционеры Mitsubishi Electric


block section-8
    div.landing-block#contactus
        h2.landing-block__title Напишите нам
        form.text-center
            div.row
                div.col-md-4.col-md-offset-2
                    div.form-group
                        input.form-control.input-lg(type="text" placeholder="Имя")
                div.col-md-4
                    div.form-group
                        input.form-control.input-lg(type="text" placeholder="Телефон или Email")
            div.row
                div.col-md-8.col-md-offset-2
                    div.form-group
                        textarea.form-control.input-lg(row="6" placeholder="Напишите нам что-нибудь =)")
            div
                button.btn.btn-lg.btn-success Отправить

block section-9
    div.landing-block.landing-reasons
        h2.landing-block__title Почему вам выгодно работать с нами?
        p.lead.landing-block__text Мы составили список из 20 причин, которые объясняют почему вам нужно обратиться к нам.
        div.row
            div.col-md-8.col-md-offset-2
                div.panel-group#reasons-accordion(role="tablist" aria-multiselectable="true")
                    div.panel.panel-default
                        div.panel-heading(role="tab")
                            h4.panel-title(role="button") Вы получаете опытного подрядчика
                        div.panel-collapse.collapse(role="tabpanel")
                            div.panel-body
                                p За время работы на рынке с 2008 года мы зарекомендовали себя как надежный подрядчик. На нашем счету более тысячи выполненных проектов, среди которых:
                                ul
                                    li проектирование отопления дома;
                                    li проектирование системы отопления коммерческих зданий и производственных сооружений;
                                    li техническое обслуживание;
                                    li обустройство вентиляции в домах и офисах;
                                    li установка систем отопления «под ключ»;
                                    li устройство систем водоснабжения;
                                    li монтаж канализации коммерческих строений и частных домовладений;
                                    li монтаж и обслуживание систем кондиционирования;
                                    li осуществление пуско-наладочных работ;
                                    li обеспечение электроснабжения;
                                    li поставки качественного оборудования от европейских производителей;
                                    li экспертиза оборудования;
                                    li минимизация энергозатрат и другие работы.
                                p Кроме этого, мы выполняем роль генерального подрядчика или предоставляем услуги шеф-монтажа. Перечень услуг постоянно расширяется, что делает сотрудничество с нами более удобным. Наши мастера охотно идут навстречу пожеланиям клиента.
                    div.panel.panel-default
                        div.panel-heading(role="tab")
                            h4.panel-title(role="button") Бесплатная консультация
                        div.panel-collapse.collapse(role="tabpanel")
                            div.panel-body
                                p Вам удобно с нами работать: 1 звонок и 1 бесплатная консультация в подарок
                                p Наши специалисты делают все возможное, чтобы работать с нами было удобно. Именно по этой причине в нашей компании существует четко отлаженная система работы:
                                ul
                                    li Вы набираете номер (495) 641-64-44 или оставляете заявку по адресу info@ st-ovk.ru;
                                    li Наш менеджер принимает вашу заявку;
                                    li Специалист выезжает на объект, обсуждает с Вами все детали;
                                    li Подписываем договор;
                                    li Разрабатываем проектную документацию (для решения задачи у нас функционирует специальный отдел);
                                    li Внедряем ее и реализуем проект;
                                    li Осуществляем окончательные взаиморасчеты между сторонами.***
                                p.text-mutted *** Это стандартные условия сотрудничества. Но они могут изменяться в зависимости от специфики работ. Но в любом случае мы Вас обо всем предупреждаем заранее. Нам важно ваше доверие, независимо от того, осуществляем мы проектирование отопления загородного дома или проектирование для крупного торгового центра.
                    div.panel.panel-default
                        div.panel-heading(role="tab")
                            h4.panel-title(role="button") Качество проектов
                        div.panel-collapse.collapse(role="tabpanel")
                            div.panel-body
                                p Ваша система работает как часы благодаря ювелирной работе наших инженеров.
                                p Наша компания создает и проектирует инженерные системы с ювелирной точностью. На каждый из видов работ мы готовы предоставить Вам гарантии. На всех этапах (от проектирования и до реализации) у нас работают мастера с опытом больше 7 лет.
                                    sup ***
                                p.text-mutted
                                    sup ***
                                    | Мы настолько уверены в качестве своих проектов, что даем вам на них 100% гарантию.
                    div.panel.panel-default
                        div.panel-heading(role="tab")
                            h4.panel-title(role="button") Мастер на связи 24/7
                        div.panel-collapse.collapse(role="tabpanel")
                            div.panel-body
                                p Каждый клиент получает личного мастера, который доступен вам круглые сутки в течение проектирования и реализации проекта. Вы можете задать ему любой вопрос по поводу проектирования, проведения ремонтных работ, стоимости оборудования или монтажа.
                    div.panel.panel-default
                        div.panel-heading(role="tab")
                            h4.panel-title(role="button") Экономия
                        div.panel-collapse.collapse(role="tabpanel")
                            div.panel-body
                                p Наши инженеры знают способы снизить ваши затраты не потеряв в качестве. Достигается это за счет налаженных связей с поставщиками и оптимизации производственных затрат. Но мы гарантируем, что с нашими специалистами Вы получаете экономию на 40% или даже больше.
                    div.panel.panel-default
                        div.panel-heading(role="tab")
                            h4.panel-title(role="button") Отопление «под ключ»
                        div.panel-collapse.collapse(role="tabpanel")
                            div.panel-body
                                p Вы получаете систему отопления «под ключ». Без головной боли и нервов
                                p Почему это выгодно? Смотрите. Как хозяин дома (или коммерческого здания, производственного предприятия) Вы:
                                ul
                                    li Сначала заказываете проектирование отопления коттеджа (нужно найти проверенных специалистов в этой области, обзвонить несколько компаний);
                                    li Потом, имея проект на руках, начинаете активный поиск оборудования, поставщиков, обзваниваете магазины и компании;
                                    li После этого заказываете оборудование и платите за его доставку;
                                    li После доставки вызываете мастеров, которые это все установят;
                                    li Когда оборудование установлено, Вам нужно отладить его работу;
                                    li После отладки – найти мастера, который будет обслуживать оборудование…
                                    p Представляете, сколько нервов и головой боли Вам придется перетерпеть? Компания "Стандарт Климат" предлагает Вам остановиться на первой стадии. Только совершите 1 звонок, а все остальное наши специалисты сделают за Вас.
                    div.panel.panel-default
                        div.panel-heading(role="tab")
                            h4.panel-title(role="button") Положительные отзывы
                        div.panel-collapse.collapse(role="tabpanel")
                            div.panel-body
                                p Вы работаете с теми, кому можно доверять: сотни положительных отзывов от крупных компаний и частных лиц
                                p Более сотни положительных отзывов за проектирование отопления, монтаж вентиляции, создание системы водоснабжения и другие работы. С конкретными отзывами Вы можете познакомиться в специальном разделе. Мы же только скажем, что работали с рестораном быстрого питания KFC  и крупными предприятиями региона.
                                p Среди наших клиентов были, остаются и будут:
                                ul
                                    li Торгово-развлекательные центры;
                                    li Бизнес-центры;
                                    li Фабрики и заводы;
                                    li Гостиницы и отели;
                                    li Рестораны и кафе;
                                    li Театры и дома культуры;
                                    li Собственники небольших дач и солидных коттеджей.
                                p Мы оптимизировали работу, создав несколько отделов для обслуживания частных субъектов и юридических лиц.
                    div.panel.panel-default
                        div.panel-heading(role="tab")
                            h4.panel-title(role="button") Сертификация
                        div.panel-collapse.collapse(role="tabpanel")
                            div.panel-body
                                p Вы работаете с профессионалами: лицензия + более 20 сертификатов "Стандарт Климат" имеет лицензию на осуществление деятельности, что делает нашу работу законной. А наличие более 20 сертификатов и дипломов подтверждает профессионализм сотрудников и ответственный подход к выполнению любого вида работ.
                    div.panel.panel-default
                        div.panel-heading(role="tab")
                            h4.panel-title(role="button") Онлайн поддержка
                        div.panel-collapse.collapse(role="tabpanel")
                            div.panel-body
                                p Вы получаете квалифицированную поддержку онлайн в режиме 24/7
                                p Наша команда понимает, насколько Вам важно грамотное проведение работ. И именно по этой причине мы открыли на сайте раздел «Частые вопросы». Каждый посетитель может задать свой вопрос – и наш менеджер даст на него ответ. Кроме этого, Вы можете получить ответы на все волнующие вопросы по телефону (495) 641 64 44.
                    div.panel.panel-default
                        div.panel-heading(role="tab")
                            h4.panel-title(role="button") Ведущие бренды
                        div.panel-collapse.collapse(role="tabpanel")
                            div.panel-body
                                p Вы получаете исключительно качественные коммуникации и оборудование от ведущих брендов
                                p У Вас будут установлены инженерные коммуникации безупречного качества без нагрузки на бюджет. Мы можем гарантировать это, поскольку являемся официальным дилером производителей с мировым именем: Daikin, Carel, Mitsubishi Electric, Mitsubishi Heavy,  Systemair, ZOTA, Uponor, Buderus, Global, Protherm, Gundfos, Viega,  Kiturami, Meibes, Эван и другими.
                    div.panel.panel-default
                        div.panel-heading(role="tab")
                            h4.panel-title(role="button") Вы решаете любой строительный вопрос с нами на 100%
                        div.panel-collapse.collapse(role="tabpanel")
                            div.panel-body
                                p Вы обратились в компанию, но там сказали: «Извините, ваш проект отличается повышенной сложностью. Мы не можем с ним работать»? Такое часто бывает, если Вы имеете дело с новичками на рынке. Они не имеют достаточного опыта, боятся давать гарантии и браться за сложные проекты. Но не с нами.
                                p Опыт работы "Стандарт Климат" позволяет нам браться за решение задач любой сложности. Поэтому даже если вам отказали в проектировании предыдущие 10 компаний (сославшись на сложность работ), приходите к нам. У нас Вы найдете решение проблемы.
                                p Наши инженеры работают с крупными коммерческими помещениями и частыми домами.
                                p «Индивидуальный подход» для нас – не только слова. Это продуманная система сотрудничества, гибкие условия для каждого клиента, скидки для новых заказчиков и программа лояльности для постоянных.
                    div.panel.panel-default
                        div.panel-heading(role="tab")
                            h4.panel-title(role="button") Вы уверены в соблюдении сроков
                        div.panel-collapse.collapse(role="tabpanel")
                            div.panel-body
                                p Каждый заказчик (и каждый проект) для нас индивидуален: кому-то нужно отопление коттеджа под ключ, кому-то требуется монтаж вентиляции; кому-то необходим проект водоснабжения и канализации. Мы сразу называем конкретный срок выполнения работ и соблюдаем его на 100%. От нас Вы никогда не услышите: «Извините, Ваш проект в разработке. Да, мы знаем, что должны были сдать его 1 декабря, а сейчас 1 марта. Мы активно работаем!».
                                p Нам важно Ваше доверие, и именно по этой причине мы гарантируем 100% соблюдение сроков.
                    div.panel.panel-default
                        div.panel-heading(role="tab")
                            h4.panel-title(role="button") Вы защищены от проверок государственных органов
                        div.panel-collapse.collapse(role="tabpanel")
                            div.panel-body
                                p Если Вы – владелец помещения коммерческого назначения, отлично понимаете нас. К Вам с проверками будут приходить органы пожарной безопасности, санитарного надзора, охраны труда… Разработанная нами проектная документация на 100% соответствует установленным требованиям нормативных актов. А это значит, что Вы защищены от штрафов и исков государственных органов.
                    div.panel.panel-default
                        div.panel-heading(role="tab")
                            h4.panel-title(role="button") Вы экономите до 50% в ходе эксплуатации систем
                        div.panel-collapse.collapse(role="tabpanel")
                            div.panel-body
                                p Какую бы вы систему не взяли, она потребует расходов на:
                                ul
                                    li Техническое обслуживание;
                                    li Содержание;
                                    li Функционирование (затраты на топливо, электричество и другие).
                                p Наши мастера знают, как сократить ваши расходы на эксплуатации. А эта экономия важна как для крупных бизнесменов, так и для владельцев загородных домов.
                    div.panel.panel-default
                        div.panel-heading(role="tab")
                            h4.panel-title(role="button") Вы делаете проект вместе с нами
                        div.panel-collapse.collapse(role="tabpanel")
                            div.panel-body
                                p Мы понимаем, что в вашем доме все должно быть идеально создано для Вас. Поэтому мы согласуем с Вами все тонкости и детали: какими должны быть трубы, какой должна быть сантехника, дополнительное оборудование. И только после согласования с Вами мы закупаем продукцию.
                    div.panel.panel-default
                        div.panel-heading(role="tab")
                            h4.panel-title(role="button") Вы выбираете любой из доступных способов оплаты
                        div.panel-collapse.collapse(role="tabpanel")
                            div.panel-body
                                p Индивидуальный подход у нас не только на словах. Мы гарантируем каждому клиенту возможность оплаты любым удобным способом. Поэтому работать с нами удобно.
                    div.panel.panel-default
                        div.panel-heading(role="tab")
                            h4.panel-title(role="button") Вы получаете не только монтаж системы, но и гарантию + обслуживание
                        div.panel-collapse.collapse(role="tabpanel")
                            div.panel-body
                                p Мы гарантируем каждому клиенту не просто монтажные работы, но и обслуживание систем (текущее и аварийное на случай возникновения неполадок. На монтаж отопления и инженерных коммуникаций распространяется гарантия. Плюс Вы получаете увеличенную гарантию от производителя продукции.
                    div.panel.panel-default
                        div.panel-heading(role="tab")
                            h4.panel-title(role="button") Вы защищены юридически
                        div.panel-collapse.collapse(role="tabpanel")
                            div.panel-body
                                p С каждым клиентом мы заключаем договор. А это значит, что Вы защищены юридически. Все условия сотрудничества, порядок оплаты, гарантии, обязанности и права сторон.
                    div.panel.panel-default
                        div.panel-heading(role="tab")
                            h4.panel-title(role="button") Вы получаете подрядчиков, которые работают ювелирно
                        div.panel-collapse.collapse(role="tabpanel")
                            div.panel-body
                                p Мы не просто устанавливаем системы или переустанавливаем коммуникации. Мы делаем все работы как себе. После монтажа цемент, остатки строительного материала и мусор мы убираем и увозим с объекта.
                    div.panel.panel-default
                        div.panel-heading(role="tab")
                            h4.panel-title(role="button") Вы всегда можете нас найти
                        div.panel-collapse.collapse(role="tabpanel")
                            div.panel-body
                                p Наш офис находится в городе Москва, на 2-м Лихачевском переулке. Так что Вы всегда можете приехать к нам (в любой рабочий день). Связаться с нами можно по телефону (495) 641 64 44 или через вашего персонального менеджера. Все трудности с монтажом систем мы устраняем просто!
                                p Мы прекрасно знаем, с какими трудностями сталкивается каждый субъект, который заказывает или монтаж вентиляции:
                                ul
                                    li Проектную документацию создают далекие от практики специалисты, только вчера закончившие ВУЗ;
                                    li Качество монтажа систем отопления и вентиляции оставляет желать лучшего;
                                    li Пуско-наладочные работы производятся только на бумаге;
                                    li После получения от заказчика денежных средств подрядчик включает режим «активной экономии» в ущерб качеству работ;
                                    li Неправильно установленные системы приводят к росту заболеваемости персонала (на промышленных предприятиях) или дискомфорту;
                                    li Недоброкачественные исполнители создают проект не с нужным оборудованием, а с тем, которое всегда под рукой;
                                    li Отступления от прописанных в нормах правил выявляются при проведении инспекторских проверок. Взыскиваются высокие штрафы, выносятся предписания по устранению.
                                p Обращаясь в компанию "Стандарт Климат", вы гарантированно бережете себя от возникновения подобных проблем.
                                p P.S. Сэкономьте свое время, поберегите нервы и деньги. Лучше сразу обратиться к инженерам опытом работы больше 10 лет, чем планировать потом дополнительные затраты на переобустройство.
                                p P.S.S. А еще мы знаем, как вам сэкономить до 40% бюджета на устройство систем и до 50% на дальнейшей эксплуатации оборудования. Вы так хотите?
                                p Позвоните нам (495) 641 64 44 прямо сейчас – и наш менеджер сделает вам индивидуальное предложение по сотрудничеству!