extends ./layout/default.jade

block title
    title= PAGE.title

block content
    div.page-header
        h1 Услуги
    p Проектно-монтажная компания Стандарт Климат специализируется на создании климатических систем под ключ. То есть мы способны спроектировать систему, предоставить все необходимое оборудование, осуществить монтаж системы, проведем пуско-наладочные работы и осуществим гарантийное, сервисное обслуживания. Таким образом в лице нашей компании вы получите готовое решения по созданию климатических систем любой сложности.
    p Среди основных направлений деятельности мы готовы предложить своим клиентам следующее:
    p Наша компания «Стандарт Климат» оказывает услуги по следующим направлениям:
    h2 
        a(href="#") Проектирование
    p В перечне услуг вы найдете услуги для владельцев частных домов и загородной недвижимости:
    ul.list
        li Проектирование системы вентиляции;
        li Проектирование отопительной системы;
        li Проектирование системы кондиционирования и увлажнения/осушения воздуха;
        li Проектирование системы водоснабжения и канализации;
        li Проектирование системы «теплый пол»;
        li Проектирование электроснабжения

    h2 
        a(href="#") Монтаж и пусконаладочные работы
    p Компания «Стандарт Климат» оказывает услуги:
    ul
        li 
            a(href="#") Монтаж вентиляции
            |, оборудования, сетевых элементов, а также воздухоотводов;
        li Монтаж кондиционирования, организация технических отверстий в месте прокладки коммуникаций, промышленный альпинизм;
        li Монтаж систем отопления + запуск и наладка работы в котельной;
        li Монтаж электроснабжения, подключение всего оборудования к электрощитовым, к системам диспетчеризации;
        li Монтаж систем водоснабжения и канализации, ввод их в эксплуатацию.
    p Для всех клиентов специалисты компании «Стандарт Климат» готовы подготовить исполнительную документацию. Мастера проводят обучение особенностям работы и эксплуатации системы, дают рекомендации по техническому обслуживанию.
    h2
        a(href="#") Поставка оборудования + поставка необходимых материалов
    p «Стандарт Климат» - это:
    ul
        li Наличие на складе в Москве всего необходимого для работы оборудования;
        li Готовность поставить индивидуально под ваш заказ необходимые технические средства + комплектующие;
        li Минимальные сроки для доставки техники;
        li Широчайший ассортимент техники, что позволяет вам решать любые задачи с проектированием и монтажом (как для частных, так и для коммерческих объектов);
        li Ваша возможность выбрать как технику класса «эконом», так и оборудование уровня «люкс»;
        li Использование и поставка техники, которая позволяет снизить расходы предприятия;
        li Осуществление экспертизы установленного оборудования + эксплуатация и замена систем.

    