footer.footer
    .container
        ul.list-inline
            li 
                a(href="#") О компании
            li 
                a(href="#") Карта сайта
            li
                a(href="#") Гарантии
            li
                a(href="#") Отзывы
        p 
            | &copy; Все права защищены 
            a(href="http://www.st-ovk.ru") &raquo;Стандарт Климат&laquo;
            |, 2015-2016.

script(src="js/build.js")