header.container.header
    .row
        .col-md-4
            a.header-logo(href="/")
                img(src="http://www.st-ovk.ru/include/logo.png" alt="Стандарт Климат" height="50")
        .col-md-4
        .col-md-4
            .header-contacts
                .header-contacts__item
                    a(href="tel:+74956416444")
                        i.fa.fa-phone
                        | &nbsp;
                        span.tel= "+7 (495) 641-64-44"
                .header-contacts__item
                    a(href="mailto:info@st-ovk.ru")
                        i.fa.fa-envelope-o
                        | &nbsp;
                        span.mail= "info@st-ovk.ru"