nav.navbar.navbar-default
  div.container
    div.navbar-header
      button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
        i.fa.fa-bars
    div#navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href="/") Главная
        li
          a(href="/services.html") Услуги
        li
          a(href="#contact") О компании
        li
          a(href="#") Каталог
        li
          a(href="#") Новости
        li
          a(href="#") Сотрудничество
        li
          a(href="#") Контакты

      ul.nav.navbar-nav.navbar-right
        li
          a(href="#") Корзина