@import 'compass';
@import 'variables';
@import 'bootstrap';

@import "inc/common";
@import "inc/content";
@import "inc/footer";
@import "inc/jcarousel";
@import "inc/header";
@import "inc/image-preview";
@import "inc/landing";

@media all and (max-width: 600px) {
	.header,
	.header-contacts {
		text-align: center;
	}
	.landing-block {
		padding: 30px 0;
	}
	.landing-intro {
		padding: 30px 0;
	}
	.landing-intro__title {
		font-size: 30px;
		line-height: 40px;
	}
	.landing-intro__brand {
		font-size: 18px;
		margin: 15px;
	}
	.landing-intro__buttons {
		padding-top: 20px;
	}
}