// LINKS

$link-color: #0f9ae1;
$link-hover-color: #0f78b7;
$link-hover-decoration: none; 



// NAVBAR

$navbar-default-bg: #0f78b7;
$navbar-default-border: #0f78b7;
$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-hover-bg: #0f9ae1;
$navbar-default-link-active-color: #fff;
$navbar-default-link-active-bg: #0f9ae1;



// BUTTONS
$btn-border-radius-base: 4px;
$btn-border-radius-large: 4px;
$btn-border-radius-small: 4px;

$btn-primary-bg: #0f9ae1;
$btn-success-bg: #b1d208;
